---
import HamburguerIcon from '@/assets/icons/HamburguerIcon.astro'
import CloseIcon from '@/assets/icons/CloseIcon.astro'
import Logo from '@/components/layout/header/Logo.astro'
import DesktopNav from '@/components/layout/header/DesktopNav.astro'
import ThemeToggle from '@/components/layout/header/ThemeToggle.astro'
import LanguagePicker from '@/components/layout/header/LanguagePicker.astro'
---

<header
  class="top-0 z-50 w-full transition-colors"
>
  <div class="container mx-auto flex items-center px-2 py-2 lg:px-8">
    <Logo />

    <div class="flex items-center ml-8 lg:ml-12">
      <DesktopNav />
    </div>

    <div class="flex items-center gap-3 ml-auto relative">
      <ThemeToggle
        lang="es"
        idSuffix="desktop"
        showDropdown={true}
        className="hidden md:flex"
      />

      <LanguagePicker
        lang="es"
        idSuffix="desktop"
        showDropdown={true}
        className="hidden md:flex"
      />

      <a
        href="https://github.com/mmarcode"
        class="flex w-9 h-9 items-center justify-center rounded-md text-hc-gray4 dark:text-hc-gray6 hover:bg-hc-gray3 dark:hover:bg-hc-gray3/15 transition-colors"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="GitHub account"
      >
        <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
          <path
            fill-rule="evenodd"
            d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z"
            clip-rule="evenodd"></path>
        </svg>
      </a>
      <button
        id="menuToggle"
        class="md:hidden w-9 h-9 flex items-center justify-center rounded-md text-hc-gray2 hover:bg-hc-gray3 dark:text-hc-white dark:hover:bg-hc-gray3/15 transition-colors"
        aria-label="Toggle menu"
        aria-expanded="false"
        aria-controls="mobileMenu"
      >
        <span id="icon-menu-open">
          <HamburguerIcon class="w-6 h-6" />
        </span>

        <span id="icon-menu-close" class="hidden">
          <CloseIcon class="w-6 h-6" />
        </span>
      </button>
    </div>
  </div>
</header>
