---
import HamburguerIcon from '@/assets/icons/HamburguerIcon.astro'
import CloseIcon from '@/assets/icons/CloseIcon.astro'
import Logo from '@/components/layout/header/Logo.astro'
import DesktopNav from '@/components/layout/header/DesktopNav.astro'
---

<header
  class="top-0 z-50 w-full transition-colors"
>
  <div class="container mx-auto flex items-center px-2 py-2 lg:px-8">
    <Logo />

    <div class="flex items-center ml-8 lg:ml-12">
      <DesktopNav />
    </div>
  </div>
</header>
