---
import { Languages } from '@lucide/astro';
//import { useTranslations } from '@/i18n'
//import type { Lang } from '@/i18n'
//import { getCanonicalPath, useTranslatedPath } from '@/i18n/utils'

interface Props {
  lang: string
  idSuffix: string
  className?: string
  showDropdown?: boolean
}

const { lang, idSuffix, className = '', showDropdown = false } = Astro.props
//const t = useTranslations(lang)
//const canonicalPath = getCanonicalPath(Astro.url.pathname, lang)

//const hrefEs = useTranslatedPath('es')(canonicalPath)
//const hrefEn = useTranslatedPath('en')(canonicalPath)
---

<div class="relative flex items-center">
  <button
    id={`langToggle-${idSuffix}`}
    data-lang-toggle
    data-toggle-target={`lang-menu-${idSuffix}`}
    class={`flex w-9 h-9 items-center justify-center rounded-md text-hc-gray4 dark:text-hc-gray6 hover:bg-hc-gray3 dark:hover:bg-hc-gray3/15 transition-colors ${className}`}
    aria-label="{t('menu.language')}"
    aria-haspopup="menu"
    aria-expanded="false"
  >
    <Languages class="w-5 h-5" />
  </button>

  {
    showDropdown && (
      <div
        id={`lang-menu-${idSuffix}`}
        data-lang-menu
        role="menu"
        class="hidden absolute top-full left-0 md:left-auto md:right-0 mt-1 w-36 bg-white dark:bg-hc-black1 dark:border-hc-gray2 border border-gray-200 rounded-md shadow-lg overflow-hidden z-50"
      >
        <a
          role="menuitem"
          data-lang="es"
          hreflang="es"
          href="/"
          class={`flex items-center gap-3 px-4 py-2 w-full text-left transition-colors text-sm ${
            lang === 'es'
              ? 'bg-hc-green1 text-hc-white'
              : 'hover:bg-hc-green1 hover:text-hc-white text-hc-gray2 dark:text-hc-white'
          }`}
        >
          menu.spanish
        </a>
        <a
          role="menuitem"
          data-lang="en"
          hreflang="en"
          href="/"
          class={`flex items-center gap-3 px-4 py-2 w-full text-left transition-colors text-sm ${
            lang === 'en'
              ? 'bg-hc-green1 text-hc-white'
              : 'hover:bg-hc-green1 hover:text-hc-white text-hc-gray2 dark:text-hc-white'
          }`}
        >
          menu.english
        </a>
      </div>
    )
  }
</div>

<script>
  document.addEventListener('astro:page-load', () => {
    const langLinks = document.querySelectorAll('[data-lang]');
    const currentSearch = window.location.search;

    if (currentSearch) {
      langLinks.forEach((link) => {
        const url = new URL(link.getAttribute('href') || '', window.origin);
        url.search = currentSearch;
        link.setAttribute('href', url.pathname + url.search);
      });
    }
  });
</script>
