---
import {Image} from 'astro:assets'
import Logo from '@/assets/images/logo.webp'
---

<a
  href="/"
  aria-label="Panteras Home"
  class="text-2xl font-extrabold tracking-wide text-pantera-green z-50"
>
  <Image
    src={ Logo }
    alt="Escuela de Basquetbol Panteras en Nicolás Romero"
    width="98"
    height="78"
    class="select-none group-hover:drop-shadow-md hover:scale-110 hover:drop-shadow-[0_20px_35px_rgba(204,204,204,0.3)] transition-all duration-500"
    loading="eager"
    decoding="async"
  />
</a>
